{% extends "base_table.html" %} {% block content %}
<div class="col-xs-9 col-xs-offset-2">
    <div class="btn-group btn-group-lg" role="group">
        <a href="/edit/participant/">
            <button type="button" class="btn btn-primary btn-lg">Учасник змагань</button>
        </a>
        <a href="/edit/team/">
            <button type="button" class="btn btn-primary btn-lg">Команда</button>
        </a>
        <a href="/edit/bike/">
            <button type="button" class="btn btn-primary btn-lg">Велосипед</button>
        </a>
        <a href="/edit/coach/">
            <button type="button" class="btn btn-primary btn-lg">Тренер</button>
        </a>
        <a href="/edit/competition/">
            <button type="button" class="btn btn-primary btn-lg">Змагання</button>
        </a>
        <a href="/edit/organizator/">
            <button type="button" class="btn btn-primary btn-lg">Організатор</button>
        </a>
    </div>
</div>
{% endblock %}
